# Python standard gitignore

__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv
venv/
env/
ENV/

# IDE / Editor specific
.vscode/
.idea/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# LaTeX intermediate files
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls
*.dvi
*.bbl
*.blg
*.lof
*.lot

# Jupyter Notebook
.ipynb_checkpoints

# data files
data/
*.csv
*.png
